<p id="notice"><%= notice %></p>

<p>
  <b>Start:</b>
  <%= @call.start %>
</p>

<p>
  <b>End:</b>
  <%= @call.end %>
</p>

<p>
  <b>Frequency:</b>
  <%= @call.frequency %>
</p>

<p>
  <b>Talkgroup:</b>
  <%= @call.full_group_name %>
</p>

<p>
  <%= link_to "Audio", call_path(@call, :format => :mp3) %>
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
